<div class="card" id="post-<%= post.id %>">
  <h5 class="card-header"><%= post.user.username %>
    <span class="offset-md-8">
      <span class="favorites_count">
        <% if post.favorites.count != 0 %>
          <%= post.favorites.count %>
        <% end %>
      </span>
      <% if post.favorited?(current_user) %>
        <%= render 'favorites/destroy', post: post %>
      <% else %>
        <%= render 'favorites/create', post: post %>
      <% end %>
    </span>
  </h5>
  <div class="card-body">
    <p class="card-text"><%= post.text %></p>
    <%= link_to 'View Post', post, class: "btn btn-primary" %>
    <%= link_to "Comment", new_post_comment_path(post), remote: true, class: "btn btn-primary " %>
    <% if current_user == post.user %>
      <%= link_to "Edit post", edit_post_path(post), remote:true, class: "btn btn-primary " %>
      <%= link_to "Delete post", post, remote: true, method: :delete, data: { confirm: 'Are you sure?'},
                                        class: "btn btn-primary delete-color" %>
    <% end %>
  </div>
  <div class="card-footer">
    <div id="comments">
      <% post.comments.each do |comment| %>
        <%= render 'comments/comment', comment: comment %>
      <% end %>
    </div>
  </div>
</div>
